body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #681212b6;
    font-family: Arial, Helvetica, sans-serif;
}

.layout {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #2f1111;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar button {
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: #e2b512;
    color: white;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

.sidebar button:hover {
    background: #7a9ebb;
}

.content {
    margin-left: 260px;
    padding: 40px;
    width: calc(100% - 260px);
}

.intro {
    width: 500px;
    height: auto;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile {
    width:200px;
    height: auto;
    border-radius: 10px;
}

.section-block{   
    background: rgb(255, 255, 255);
    padding: 25px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section-blockWP {
    grid-template-columns: 250px 1fr;
    gap: 25px;
    width: 500px;
    background: white;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-block{
    background: rgb(255, 255, 255);
    padding: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #3171b0;
}

p {
    line-height: 1.6;
    color: #000000;
}

html {
    scroll-behavior: smooth;
}   